<!doctype html>
<html>
  <head lang="en">
    <meta charset="utf-8">
    <title>Wallpapers.</title>

    <link href="/css/style.css" rel="stylesheet" />

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>
  <body>
    <div class="container">

      <h1><a href="/">Wallpapers</a></h1>

      <div id="box" class="thumbnails">
        <% @images.each do |file| %>
          <div class="item">
            <a href="/image/<%= file.key %>" class="thumbnail"><img src="<%= file.thumb_url %>" alt="<%= file.key %>"></a>
          </div>
        <% end %>
      </div>

      <div class="footer">
        <p class="muted"><i class="icon-edit"></i> <a href="https://github.com/icco/wallpapers">code</a> &copy; 2012 &mdash; <%= Time.now.year %> Nat Welch. Images copyright their original creators.</p>
      </div>

    </div> <!-- /container -->

    <!-- JS. Placed at the end of the document so the pages load faster -->
    <script src="/js/imagesloaded.pkgd.min.js"></script>
    <script src="/js/masonry.pkgd.min.js"></script>
    <script>
      var container = document.querySelector('#box');
      var msnry;
      // initialize Masonry after all images have loaded
      imagesLoaded( container, function() {
        msnry = new Masonry(container, {
          itemSelector: '.item'
        });
      });
    </script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-333449-12']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
