<!doctype html>
<html>
  <head lang="en">
    <meta charset="utf-8">
    <title>Wallpapers.</title>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="/css/tachyons.min.css">
    <style>
      @media (min-width: 900px) {
        .item { width: 33%; }
      }

      @media (max-width: 900px) {
        .item { width: 100%; }
      }

      .item img {
        width: 100%;
        display: block;
      }

      .item {
        padding: 1px;
        border: 1px solid #CCC;
        margin: 1px
      }

      .item:hover {
        border-color: #2BA6CB
      }

      a, a:link, a:visited {
        transition: color .4s;
        color: #265C83;
      }

      a:hover {
        color: #7FDBFF;
      }

      a:active {
        transition: color .3s;
        color: #007BE6;
      }
    </style>
  </head>
  <body>
    <div class="pam">

      <h1 class="man pan"><a href="/">Wallpapers</a></h1>
      <h2 class="f4 mvs">A Nat Welch Collection</h2>

      <div id="box" class="thumbnails"></div>

      <div class="footer">
        <p class="muted"><i class="icon-edit"></i> <a href="https://github.com/icco/wallpapers">code</a> &copy; 2012 &mdash; <%= Time.now.year %> Nat Welch. Images copyright their original creators.</p>
      </div>

    </div> <!-- /container -->

    <!-- JS. Placed at the end of the document so the pages load faster -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="/js/imagesloaded.pkgd.min.js"></script>
    <script src="/js/isotope.pkgd.min.js"></script>
    <script>
      $(document).ready(function() {
        $('#box').isotope({
          animationEngine : 'css',
          itemSelector : '.item',
          masonry: { },
        });
        $.get("/all.json", parse_response).fail(function() {
          console.error("Error getting data.");
        });
      });

      function parse_response(data) {
        for (i in data) {
          build_element(data[i]["thumbnail"], data[i]["image"], data[i]["key"]);
        }
      }

      function build_element(image, link, title) {
        var a = $('<a>');
        var img = $('<img>');
        var div = $('<div>');

        a.attr('href', link);
        a.attr('title', title);

        img.attr('src', image);
        img.attr('alt', title);

        a.append(img);
        div.append(a);

        div.addClass('item');

        // Preload
        $(img).one('load', function() {
          $(div).addClass('item');
          $('#box').isotope('insert', $(div));
        }).each(function() {
          if(this.complete) $(this).load();
        });
      }
    </script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-333449-12']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
