.item {
  width: 300px;
  margin: 5px;
  float: left;
}

.container {
  width: 90%;
  padding: 20px;
}

#box {
  margin: auto 0;
}

.footer {
  margin: 15px;
  padding: 10px;
}

#infscr-loading {
  text-align: center;
  z-index: 100;
  position: fixed;
  left: 45%;
  bottom: 40px;
  width: 200px;
  padding: 10px;
  background: #000;
  opacity: 0.8;
  color: #FFF;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
