<!doctype html>
<html>
  <head lang="en">
    <meta charset="utf-8">
    <title>Wallpapers.</title>

    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet" />

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>
  <body>
    <div class="container">

      <h1>Wallpapers</h1>

      <div id="box" class="thumbnails">
        <% @images.each do |file| %>
          <div class="item">
            <a href="/image/<%= file.key %>" class="thumbnail"><img src="/thumbnail/<%= file.key %>" alt=""></a>
          </div>
        <% end %>
      </div>

      <ul class="pager">
        <% if prior_page %>
          <li class="previous"><a href="/page/<%= prior_page %>">&larr; Older</a></li>
        <% else %>
          <li class="previous disabled"><a href="#">&larr; Older</a></li>
        <% end %>

        <% if next_page %>
          <li id="next" class="next"><a href="/page/<%= next_page %>">Newer &rarr;</a></li>
        <% else %>
          <li class="next disabled"><a href="#">Newer &rarr;</a></li>
        <% end %>
      </ul>

      <div class="footer">
        <p class="muted"><i class="icon-edit"></i> <a href="https://github.com/icco/wallpapers">code</a> &copy; 2012 Nat Welch. Images copyright their original creators.</p>
      </div>

    </div> <!-- /container -->

    <!-- JS. Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery-1.8.3.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/jquery.masonry.min.js?d=12132012"></script>
    <script src="/js/jquery.infinitescroll.min.js?d=12132012"></script>
    <script>
      // Based off of http://masonry.desandro.com/demos/infinite-scroll.html
      $(function(){
        $('.pager').hide();

        var $container = $('#box');

        // Basic Masonry
        $container.imagesLoaded(function(){
          $container.masonry({
            itemSelector: '.item',
          });
        });

        $container.infinitescroll({
          navSelector  : '#next',    // selector for the paged navigation
          nextSelector : '#next a',  // selector for the NEXT link (to page 2)
          itemSelector : '.item',     // selector for all items you'll retrieve
          loading      : {
            finishedMsg: 'No more images to load.',
            img: 'http://i.imgur.com/6RMhx.gif'
          }
        },
        // trigger Masonry as a callback
        function (newElements) {
          // hide new items while they are loading
          var $newElems = $(newElements).css({ opacity: 0 });
          // ensure that images load before adding to masonry layout
          $newElems.imagesLoaded(function(){
            // show elems now they're ready
            $newElems.animate({ opacity: 1 });
            $container.masonry('appended', $newElems, true);
          });
        });
      });
    </script>
  </body>
</html>
