<!doctype html>
<html>
  <head lang="en">
    <meta charset="utf-8">
    <title>Wallpapers.</title>

    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet" />

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>
  <body>
    <div class="container">

      <h1>Wallpapers</h1>

      <div id="box" class="thumbnails">
        <% Storage.get_files.each do |file| %>
          <div class="item">
            <a href="/image/<%= file.key %>" class="thumbnail"><img src="/thumbnail/<%= file.key %>" alt=""></a>
          </div>
        <% end %>
      </div>

      <div class="footer">
        <p class="muted"><i class="icon-edit"></i> <a href="https://github.com/icco/wallpapers">code</a> &copy; 2012 Nat Welch. Images copyright their original creators.</p>
      </div>

    </div> <!-- /container -->

    <!-- JS. Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="https://raw.github.com/desandro/masonry/master/jquery.masonry.min.js"></script>
    <script>
      var $container = $('#box');
      $container.imagesLoaded(function(){
        $container.masonry({
          itemSelector : '.item',
        });
      });
    </script>
  </body>
</html>
